In [96]:
from config import OMDB_API

In [97]:
import requests
import pandas as pd

#### Movie Friends Analysis

In [98]:
url="http://www.omdbapi.com/?t=friends&plot=full&apikey="+OMDB_API

In [99]:
url

'http://www.omdbapi.com/?t=friends&plot=full&apikey=4c77845d'

In [100]:
response=requests.get(url).json() #to turn json format

In [101]:
response

{'Title': 'Friends',
 'Year': '1994–2004',
 'Rated': 'TV-14',
 'Released': '22 Sep 1994',
 'Runtime': '22 min',
 'Genre': 'Comedy, Romance',
 'Director': 'N/A',
 'Writer': 'David Crane, Marta Kauffman',
 'Actors': 'Jennifer Aniston, Courteney Cox, Lisa Kudrow',
 'Plot': 'Ross Geller, Rachel Green, Monica Geller, Joey Tribbiani, Chandler Bing, and Phoebe Buffay are six twenty-somethings living in New York City. Over the course of 10 years and seasons, these friends go through life lessons, family, love, drama, friendship, and comedy.',
 'Language': 'English, Spanish, Italian, French, Dutch, Hebrew',
 'Country': 'United States',
 'Awards': 'Won 6 Primetime Emmys. 79 wins & 231 nominations total',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNDVkYjU0MzctMWRmZi00NTkxLTgwZWEtOWVhYjZlYjllYmU4XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.9/10'}],
 'Metascore': 'N/A',
 'imdbRating': '8.9',
 'imdbVotes': '1,060,958',
 'imdbID': 'tt0108778',
 'Type': 'series',
 'totalSeasons': '10',
 'Response': 'True'}

Analyze by methods

In [102]:
def get_movie_friends(response):
    all_data = []

    for item in response:
        data = {'Title': response['Title'],
                'Year': response['Year'],
                'Realeased Date':response['Released'],
                'Movie Type': response['Genre'],
                'Actors': response['Actors'],
                'totalSeasons': response['totalSeasons'],
                'Language': response['Language'],
        }
        all_data.append(data)
    return pd.DataFrame(all_data)

In [103]:
movie_ids=get_movie_friends(response)

In [104]:
movie_ids.head(1)

,Title,Year,Realeased Date,Movie Type,Actors,totalSeasons,Language
0,Friends,1994–2004,22 Sep 1994,"Comedy, Romance","Jennifer Aniston, Courteney Cox, Lisa Kudrow",10,"English, Spanish, Italian, French, Dutch, Hebrew"

In [105]:
movie_ids["Actors"]=movie_ids["Actors"].str.split(",")

In [106]:
movie_ids = movie_ids.join(movie_ids['Actors'].apply(pd.Series).add_prefix('Actor'))

In [107]:
movie_ids["Language"]=movie_ids["Language"].str.split(",")

In [108]:
movie_ids = movie_ids.join(movie_ids['Language'].apply(pd.Series).add_prefix('Language'))

In [109]:
movie_ids.head(1).T

                                                                0
Title                                                     Friends
Year                                                    1994–2004
Realeased Date                                        22 Sep 1994
Movie Type                                        Comedy, Romance
Actors           [Jennifer Aniston,  Courteney Cox,  Lisa Kudrow]
totalSeasons                                                   10
Language        [English,  Spanish,  Italian,  French,  Dutch,...
Actor0                                           Jennifer Aniston
Actor1                                              Courteney Cox
Actor2                                                Lisa Kudrow
Language0                                                 English
Language1                                                 Spanish
Language2                                                 Italian
Language3                                                  French
Language4                                                   Dutch
Language5                                                  Hebrew

In [115]:
movie_ids.drop(columns=["Actors","Language"]).head(1).T

                               0
Title                    Friends
Year                   1994–2004
Realeased Date       22 Sep 1994
Movie Type       Comedy, Romance
totalSeasons                  10
Actor0          Jennifer Aniston
Actor1             Courteney Cox
Actor2               Lisa Kudrow
Language0                English
Language1                Spanish
Language2                Italian
Language3                 French
Language4                  Dutch
Language5                 Hebrew

#### All Friend Movies that have name Friends and Season 1

In [116]:
url1="http://www.omdbapi.com/?t=friends&Season=1&apikey="+OMDB_API

In [117]:
response1=requests.get(url1).json() #to turn json format

In [118]:
response1

{'Title': 'Friends',
 'Season': '1',
 'totalSeasons': '10',
 'Episodes': [{'Title': 'The One Where Monica Gets a Roommate',
   'Released': '1994-09-22',
   'Episode': '1',
   'imdbRating': '8.1',
   'imdbID': 'tt0583459'},
  {'Title': 'The One with the Sonogram at the End',
   'Released': '1994-09-29',
   'Episode': '2',
   'imdbRating': '7.9',
   'imdbID': 'tt0583647'},
  {'Title': 'The One with the Thumb',
   'Released': '1994-10-06',
   'Episode': '3',
   'imdbRating': '8.0',
   'imdbID': 'tt0583653'},
  {'Title': 'The One with George Stephanopoulos',
   'Released': '1994-10-13',
   'Episode': '4',
   'imdbRating': '7.9',
   'imdbID': 'tt0583521'},
  {'Title': 'The One with the East German Laundry Detergent',
   'Released': '1994-10-20',
   'Episode': '5',
   'imdbRating': '8.3',
   'imdbID': 'tt0583599'},
  {'Title': 'The One with the Butt',
   'Released': '1994-10-27',
   'Episode': '6',
   'imdbRating': '8.0',
   'imdbID': 'tt0583585'},
  {'Title': 'The One with the Blackout',
   'Released': '1994-11-03',
   'Episode': '7',
   'imdbRating': '8.9',
   'imdbID': 'tt0583579'},
  {'Title': 'The One Where Nana Dies Twice',
   'Released': '1994-11-10',
   'Episode': '8',
   'imdbRating': '7.9',
   'imdbID': 'tt0583462'},
  {'Title': 'The One Where Underdog Gets Away',
   'Released': '1994-11-17',
   'Episode': '9',
   'imdbRating': '8.1',
   'imdbID': 'tt0583492'},
  {'Title': 'The One with the Monkey',
   'Released': '1994-12-15',
   'Episode': '10',
   'imdbRating': '7.9',
   'imdbID': 'tt0583630'},
  {'Title': 'The One with Mrs. Bing',
   'Released': '1995-01-05',
   'Episode': '11',
   'imdbRating': '8.0',
   'imdbID': 'tt0583534'},
  {'Title': 'The One with the Dozen Lasagnas',
   'Released': '1995-01-12',
   'Episode': '12',
   'imdbRating': '8.0',
   'imdbID': 'tt0583598'},
  {'Title': 'The One with the Boobies',
   'Released': '1995-01-19',
   'Episode': '13',
   'imdbRating': '8.5',
   'imdbID': 'tt0583582'},
  {'Title': 'The One with the Candy Hearts',
   'Released': '1995-02-09',
   'Episode': '14',
   'imdbRating': '8.1',
   'imdbID': 'tt0583587'},
  {'Title': 'The One with the Stoned Guy',
   'Released': '1995-02-16',
   'Episode': '15',
   'imdbRating': '8.1',
   'imdbID': 'tt0583649'},
  {'Title': 'The One with Two Parts: Part 1',
   'Released': '1995-02-23',
   'Episode': '16',
   'imdbRating': '8.0',
   'imdbID': 'tt0583568'},
  {'Title': 'The One with Two Parts: Part 2',
   'Released': '1995-02-23',
   'Episode': '17',
   'imdbRating': '8.3',
   'imdbID': 'tt0583569'},
  {'Title': 'The One with All the Poker',
   'Released': '1995-03-02',
   'Episode': '18',
   'imdbRating': '8.7',
   'imdbID': 'tt0583510'},
  {'Title': 'The One Where the Monkey Gets Away',
   'Released': '1995-03-09',
   'Episode': '19',
   'imdbRating': '7.9',
   'imdbID': 'tt0583493'},
  {'Title': 'The One with the Evil Orthodontist',
   'Released': '1995-04-06',
   'Episode': '20',
   'imdbRating': '7.7',
   'imdbID': 'tt0583602'},
  {'Title': 'The One with the Fake Monica',
   'Released': '1995-04-27',
   'Episode': '21',
   'imdbRating': '7.6',
   'imdbID': 'tt0583603'},
  {'Title': 'The One with the Ick Factor',
   'Released': '1995-05-04',
   'Episode': '22',
   'imdbRating': 'N/A',
   'imdbID': 'tt0583616'},
  {'Title': 'The One with the Birth',
   'Released': '1995-05-11',
   'Episode': '23',
   'imdbRating': '8.6',
   'imdbID': 'tt0583577'},
  {'Title': 'The One Where Rachel Finds Out',
   'Released': '1995-05-18',
   'Episode': '24',
   'imdbRating': '8.7',
   'imdbID': 'tt0583469'}],
 'Response': 'True'}

 Analyze by Method

In [ ]:
def get_films_friends(response1):
    all_data = []

    for item in response1["Episodes"]:
        data = {'Title': response1['Title'],
                'Year': response1['Year'],
                'Realeased Date':response1['Released'],
                'Movie Type': response1['Genre'],
                'Actors': response1['Actors'],
                'totalSeasons': response1['totalSeasons'],
                'Language': response1['Language'],
        }
        all_data.append(data)
    return pd.DataFrame(all_data)